<h1>Heroku Error Codes Demo App</h1>
<%= link_to "Show sample row", article_path(Article.forty_two) %>
<br>
<br>
<%= link_to "H12 Request Timeout", edit_article_path(Article.first) %>
<br>
<%= link_to "R14 Memory Quota Exceeded", articles_path %>
